/* frontend/src/components/DeleteReviewButton/DeleteReviewButton.css */

.delete-review {
  margin-top: 20px;
  position: relative;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
}
