/* frontend/src/components/GetAllReviews/GetAllReviews.css */
.review-list {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.review-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.review-stars {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-text {
  margin-bottom: 10px;
}

.link-edit {
  color: #007bff;
  text-decoration: none;
  margin-right: 5px;
}

.link-edit:hover {
  text-decoration: underline;
}
