/* frontend/src/components/Navigation/ProfileButton.css */

/* Styles for the logo container */
.logo-container {
  size: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Styles for the Create New Spot link */
.create-new-spot-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-new-spot-button:hover {
  background-color: #0056b3;
}
