/* frontend/src/components/LoginFormModal/LoginFormModal.module.css */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  color: #333;
  max-width: 400px; /* Limit the modal width to 400px */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #444;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #666; /* Slightly lighter label text color */
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  max-width: 100%; /* Ensure input does not exceed the parent container's width */
}

p {
  color: #f44336;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background-color: #f44336;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #d32f2f;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:last-child {
  margin-top: 20px;
  background-color: #f44336;
}

button:not(:last-child) {
  margin-bottom: 10px;
}

button:last-child {
  background-color: #f44336;
}

button:last-child:hover {
  background-color: #d32f2f;
}

button:last-child:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
